body{
  background-image:url(IMG_2798.JPG);
  background-size:contain;
}
h1{
  background-color: HotPink;
  font-family:times;
  text-align: center;
  color:white;
}

.one{
  background-color: LavenderBlush;
  text-align:center;
  color:RebeccaPurple;
  font-size: 25px;
}
.two{
  background-color:LightPink;
  font-family: georgia;
  text-align: center;
  padding:10px;

}
.three{
  background-color:Plum;
  font-family: times;
  text-align: center;
  padding:10px;
}
ul{
  background-color: LavenderBlush;
}
img{
  width:30%;
  height:40%;
  padding:15px;
}
.menu{
  background-color: RebeccaPurple;
  padding:08px;
  text-align: center;
  width:99%
}
.menu li{
  display:inline-block;
  list-style-type: none;
  padding: 0px 10px;
}
li a{
  text-decoration: none;
  font-size: 20px;
  font-family: georgia;
  color:white;
}
